@charset "UTF-8";

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_wrap {
    width: 100%;
    max-width : 380px;
    padding: 40px 30px 30px;
    border: 1px solid #ccc;
}

/* 로고 */
.logo {
    margin-bottom: 30px;
    text-align: center;
}

.logo h1 a img {
    width: 100%;
    max-width: 280px;
}

.input_area label {
    display: block;
}

.input_area label:first-child{
    margin-bottom: 8px;
}

.input_box {
    width: 100%;
    padding : 15px;
    border-radius: 3px;
    font-size: 15px;
    color: #333;
    background-color: #f9f9f9;
    border : 1px solid #ccc;
    box-sizing: border-box;
}

.login_button button {
    display : inline-block;
    width: 100%;
    margin-top : 20px;
    padding : 10px 0;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    color : #fff;
    background: rgb(110, 183, 255);
    cursor: pointer;
}
.login_button button:hover {
    opacity: 0.5;
}

/* 하단 다른 조건 선택 영역 */
.line {
    position: relative;
    margin : 20px 0 40px;
    font-size: 16px;
    color : #666;
    text-align: center;
}
.line::before, .line::after{
    content : '';
    display : block;
    position : absolute;
    top: 14px;
    width: 40%;
    height: 1px;
    background: #ccc;
}
.line::before{
    right: 0px;
}
.line::after{
    left: 0;
}

.other_option {
    text-align: center;
}

/* 페이스북 로그인 */
.facebook_login {
    margin-bottom: 25px;
}

.facebook_login a {
    padding-left: 36px;
    font-size: 18px;
    font-weight: 500;
    color : rgb(34, 65, 159);
    background-size: 32px;
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url('../img/facebook_icon.png');
}

.find_password a {
    color : rgb(24, 45, 108);
}